{% load staticfiles %}
<div class="container">
    <form method="post" action="{% url 'blog:comment' article.pk %}" id="comment_form">
        {% csrf_token %}
        <div class="">
            {{ form.as_div }}
        </div>
        <ul class="list-inline">
            <li>
                <button class="btn btn-primary" type="submit" class="comm-button">评论</button>
            </li>
            <li>
                <p class="text-right">共{{ comment_list|length }}条评论</p>
            </li>
        </ul>
    </form>
    <hr>
    {% for comment in comment_list %}
    <img src="{% static 'blog/img/pic.png' %}">
    <p>{{forloop.counter}}楼<br><span class="user-nickname">{{ comment.user_name }}:</span></p>
    <div class="block-shadow">
        <br>
        {{ comment.body }}
        <br>
        <div>
            <p class="text-right">{{ comment.create_tim|date:"Y年n月d日 P" }}</p>
        </div>
        <p class="text-right">
            <!--js实现-->
            <!--<a href="##">回复</a>-->
            <a href="{% url 'blog:comment_del' comment.id %}">删除</a>
            <br/>
        </p>
    </div>
    <hr>
    {% endfor %}
</div>

