{% extends 'base.html' %}
{% block content %}
<div class="container">
    <!--路径导航-->
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'blog:index' %}">首页</a></li>
            <li>
                <a href="{% url 'blog:category' article.category_id %}" rel="category">
                    {{ article.category.name }}
                </a>
            <li class="active">
                <a href="{% url 'blog:detail' article.pk %}" rel="bookmark"> {{ article.title }}</a>
            </li>
            <p hidden id="article_id">{{article.id}}</p>
        </ol>
    </div>
    <!--主题-->
    <div class="container">
        <div class="block-shadow">
            <div class="text-center">
                <h1 class="title">{{ article.title }}</h1>
            </div>
            <div class="float-right">
                <i class="icon-date"></i><span>{{ article.last_modified_time|date:"Y年n月d日" }}</span>
            </div>
            <div>
                {{ article.body|safe }}
            </div>
        </div>
        <button id="comment_show" class="btn btn-primary">评论</button>
    </div>
    {% include 'blog/comment.html' %}
</div> <!--和上面的在一个container中-->
{% endblock %}
