<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/lib/bootstrap.css">
    <link rel="stylesheet" href="{% static 'lib/bootstrap.css' %}">
</head>
<body>
<div class="page-header">
    <h1>上传文件展示
        <small>{{ MEDIA_URL }}</small>
    </h1>
</div>
<div class="container center-block">
    <div class="row">
        {% for i in file_list %}
        <div class="col-sm-6 com-md-3">
            <a href="{{ i.filex.url }}" class="thumbnail"  title="点击看大图">
                <img src="{{ i.filex.url }}" alt="i.filex.name">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

<script href="../../static/lib/js/bootstrap.js"></script>
<script href="../../static/blog/js/jquery.js"></script>
</body>
</html>